{% extends "base.html"%}

{% block title %}About The owner{% endblock %}


{% block content %}
<div class="w3-container w3-teal">
    <center><h2>About the Creator</h2></center>

</div>
<br><br>
<div class="w3-row-padding">
    <div class="w3-half">
        <center>
         <img src="static/other/mepic.jpeg" width="400" height="400"  alt="Photo not Av" class="w3-circle">
        </center>
    </div>
    <div class="w3-half">
        <center>

            <p>Hello, my name is Constantine. I am from the SF bay Area,
                currently a highschool senior.
                <br>
                Next fall I will be studying Comp-Sci @ Carnegie Mellon University. Go Tartans!!
                <br>
                Feel free to contact me @: constantine.westerink@gmail.com for suggestions.
                <br>
                <br>
                This website uses Html/Js/Css and Flask as micro web framework.
                <br>
                thanks to MWD for the word of the day.
            </p>
        </center>
    </div>


</div>
<center>






</center>


{% endblock %}