<!DOCTYPE html>
<html>
    <head>
        <link rel='shortcut icon' href="{{ url_for('static', filename='logo/logo.png')|default('default') }}" >
        
        <title>{% block title%}{% endblock %}</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        {% block head %}{% endblock %}

        <style>

            admin {
                color : gold;
            }

            member {
                color : darkslategrey;
            }


            error {
                color : #ff0000;

            }

            textarea {

                text-align: justify;
                -moz-text-align-last: center; /* Firefox 12+ */
                text-align-last: center;
            }

            right {
                float: right;
            }

        </style>
    </head>


    <body>
        <div class="w3-bar w3-blue w3-xlarge w3-hover-blue">
            <a href="/" class="w3-bar-item w3-button">Home<img src="{{ url_for('static', filename='logo/logo.png')|default('error') }}" width="35" height="35"  alt="Logo" loading="lazy"></a>
            <a href="/chat" class="w3-bar-item w3-button">Chat</a>

            <div class="w3-dropdown-hover">
                <button class="w3-button">Games</button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                  <a href="{{url_for('game_bp.hangman')}}" class="w3-bar-item w3-button">Hangman</a>
                </div>
            </div> <!--Games-->

            <div class="w3-dropdown-hover">
                <button class="w3-button">Math</button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <a href="/math/calculator" class="w3-bar-item w3-button">Calculator</a>
                    <a href="/math/function" class="w3-bar-item w3-button">Grapher</a>
                    <a href="/math/matrix" class="w3-bar-item w3-button">Matrix</a>
                </div>
            </div><!--Math-->

            <a href="/user" class="w3-bar-item w3-button">View Users</a>

            <!--Right side of nav-->
            {% if user.is_active %}
                <a href="/settings" class="w3-bar-item w3-button w3-right">My Account</a>
                {% if user.role.access_Admin  %}
                <a href="/admin" class="w3-bar-item w3-button w3-right">Admin</a>
                {% endif %}
            {% else %}
                <a href="/login" class="w3-bar-item w3-button w3-right">Login</a>
            {% endif %}



        </div>
        {% with messages = get_flashed_messages() %}
            {% for msg in messages %}
                <p>{{msg}}<p>
            {% endfor %}
        {% endwith %}

        {% block content %}

        {% endblock %}


    </body>


</html>

