
<html>
    <head>
        <link rel='shortcut icon' href="{{ url_for('static', filename='logo/logo.png')|default('default') }}" >
        <link rel="stylesheet" href="{{url_for('static',filename='css/css/all.css')}}" type="text/css">
        <title>{% block title%}{% endblock %}</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/base.css')}}">
        {% block head %}{% endblock %}

    </head>


    <body>
        <div class="grid">
            <nav>

                {% if user.is_active %}
                    <div class="dropdown tab" style="margin-right: 70px">
                        <button class="dropbtn"><img src="data:;base64,{{ getImage(user.image) }}" width="40" height="40" alt="Pic" class="w3-circle"></button>
                        <div class="dropdown-content">
                            <a href="/user/{{user.username}}">Profile</a>
                            <a href="/settings">Settings</a>
                            {% if user.role.access_Admin %}
                            <a href="/admin">Admin</a>
                            {% endif %}
                            <a href="/logout">Logout</a>

                        </div>
                    </div>

                {% else %}
                    <a href="/login" class="tab">Login</a>
                {% endif %}

                <a href="/" id="leftbtn"> Constantine</a>
                <a href="/chat" class="tab">Chat</a>

                <div class="dropdown tab">
                    <button class="dropbtn">Mathematics</button>
                    <div class="dropdown-content">
                        <a href="/math/calculator">Calculator</a>
                        <a href="/math/function" disabled="true">Grapher</a>
                        <a href="/math/matrix" disabled="true">Matrix</a>
                    </div>
                </div>

                <a href="/user" class="tab">Users</a>

                <div class="dropdown tab">
                    <button class="dropbtn">Games</button>
                    <div class="dropdown-content">
                        <a href="/hangman">Hangman</a>
                        <a href="/tictactoe" >Tic-tac-toe</a>
                        <a href="#" disabled="true">Chess</a>
                    </div>
                </div>



            </nav>



            <!--<div class="grid-item" id="alert">
                {% with messages = get_flashed_messages() %}
                    {% for msg in messages %}
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    {{msg}}
                    {% endfor %}
                {% endwith %}
            </div>-->

            {% block content %}

            {% endblock %}



        </div>
    </body>


</html>

