
{% extends "base.html"%}
{% block title %}Math{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/math.css')}}">

{% endblock %}
{% block content %}
<div class="content">
    <h1><center>{{math}}</center></h1>

    {% if math == 'Function' %}
        <table style="width:100%" border="1">
            <tr>
                <td>
                    <form action ="/math/{{math.lower()}}", method = "post"><center>
                        {{ form.hidden_tag() }}
                        <p>{{ form.range.label }}
                        {{ form.range(placeholder='20', autocomplete='off') }}</p>
                        <p>{% for color in form.color %}
                            {{ color }}{{ color.label }}<br>
                        {% endfor %}</p>
                        {{ form.function.label }}{{form.function(placeholder='2x+4', autocomplete='off') }}
                        {{ form.submit }}



                    </center></form>
                </td>

                <td><center>
                    <h3>Available Functions</h3>
                    <p>
                        Random Number: rand(x,y)
                        <br>Square Root: sqrt(x)
                        <br>Absolute Value: |x|
                        <br>Sin: sin(x)
                        <br>Cos: cos(x)
                        <br>Tan: tan(x)
                    </p>
                </center></td>
            </tr>
        </table>
        {{ div|safe }}
        {{ script|safe }}
        <center>
            <div style = "width: 100%; height: 550px;  overflow:scroll; border: thin #000 solid; padding: 5px;"><img src= "{{ plt }}" alt="ennter funtion to display graph" height="100%" width="100%"/></div>
        </center>


    {% endif %}
    {% if math == 'Calculator' %}


        <form action ="/math/{{math.lower()}}", method = "post" class="calc-form">
            <p>

                <center><input type="text" id='c' name = "input" autofocus autocomplete="off">
            <input type="submit" value = "Calculate"></center></p>

            <br><br>

        </form>
<div class="info-btn"><i class="fas fa-info-circle"></i></div>
        <div class="answer-box">
            <h3>{{c}}</h3><br>
            <h2>{{answer}}   </h2>

        </div>







        <div class="info">
            <center>
            <h2>Help</h2>
            abs(x)<br>
            sqrt(x)<br>
            pi<br>
            tan(x)/sin(x)/cos(x)<br>
            e
            </center>
        </div>
    {% endif %}
</div>



{% endblock %}