
{% extends "base.html"%}
{% block content %}
<head>
<title>Chat Room</title>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>

<script type="text/javascript">
    $(document).ready(function() {
        var socket = io.connect('https://' + document.domain + ':' + location.port);

        document.getElementById("inp").addEventListener("change", readFile);

        function readFile() {

            if (this.files && this.files[0]) {

                var FR = new FileReader();
                FR.addEventListener("load", function (e) {

                    var x = e.target.result.toString();

                    socket.send(x);
                });
                FR.readAsDataURL(this.files[0]);
            }
        }
            socket.on('disconnect', function () {
                socket.send(' left the chat.');
            });

            socket.on('connect', function () {
                socket.send(' joined the chat.');
            });


            socket.on('message', function (msg) {
                $("#messages").append('<li>' + msg + '</li>');
                chatWindow = document.getElementById('chat-window');
                var xH = chatWindow.scrollHeight;
                chatWindow.scrollTo(0, xH);
            });


            $('#sendbutton').on('click', function () {
                if ($('#myMessage').val() !== ''){
                    socket.send($('#myMessage').val());
                    $('#myMessage').val('');

                }


            });


            $('#myMessage').on("keypress", function (e) {
                var key = e.which;
                if (key == 13) {
                    if ($('#myMessage').val() != '')
                        socket.send($('#myMessage').val());
                    $('#myMessage').val('');

                }

            });
    });

</script>

<div id ="chat-window" style = "width: 100%; height: 550px;  overflow:scroll; border: thin #000 solid; padding: 5px;">
    <ul id="messages">
        {% for msg in history %}
            <li>{{msg|safe}}</li>
        {% endfor %}


    </ul>
</div>

<p><input id="inp" type='file'><error>Note: Image size must be smaller than 1 MB</error> </p>
<input type="text" id="myMessage" placeholder="message" size="100">
<button id="sendbutton">Send</button>
</body>

{% endblock %}

