{% extends 'base.html' %}
{% block title %}Hangman{% endblock %}

{% block head %}
    <!--<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/game.css')}}">-->
{% endblock %}



{% block content %}
<div class="content">
    <center>
        <h1>Hangman</h1>

        <br><br>



        <h3 id="hiddenWord"></h3>
        <br><br><br>
        <img id="img" src="../static/game/hangmanGame/hangman1.png" height="250" width="250">


        <h5>Letters Guessed</h5>
        <br>

        <h6><p id="guessedLetters"></p></h6>

        <br><br>

        <input type="text" id="letter" placeholder="enter letter" autocomplete="off" autofocus maxlength="1" minlength="1"/>
        <button id="tryButton">Test letter</button>
        <p id="msg"></p>
    </center>

    <button id="reset">reset game</button>

</div>


<script src="{{url_for('static',filename='scripts/hangman.js')}}"></script>

{% endblock %}