<!DOCTYPE html>
{% extends "base.html"%}

{% block title %}Home page{% endblock %}

{% block content %}
<center>
    <font size="6">Word of the Day</font><br>
    <font size="4">{{date}}</font>
    <br><br>

    <font size="6"><em>{{wod}}</em></font><br>

    <em>{{desc}}</em>
    <br><br>

    <font size="4"><strong>Definition</strong></font>
    <br><br>
    {% for def in defs %}
        <em>{{def}}</em><br>
    {% endfor %}


</center>



    <a href="{{url_for('main_bp.about')}}">About me</a>


{% endblock %}
