<!DOCTYPE html>
{% extends "base.html"%}

{% block title %}Login{% endblock %}

{% block head %}


{% endblock %}

{% block content %}
<div class="content">
    <br><br>

    <center>

        <form action="{{url_for('account_bp.login')}}" method="post" class="form">
            <h1>Login</h1>
            <p>New User? Register <a href="{{url_for('account_bp.register')}}">Here</a></p>


            {{ form.hidden_tag() }}

        <p>{{ form.username.label }}<br>
            {{ form.username(placeholder='Username') }}</p>
        <p>{{ form.password.label }}<br>
            {{ form.password(placeholder='Password') }}</p>
        <p>{{ form.remember.label}}
            {{ form.remember()}}</p>
        </p><error>{{error|default('')}}</error></p>
        <p>{{ form.submit() }}</p>
        </form>
    </center>
</div>
{% endblock %}
