<!DOCTYPE html>
{% extends "base.html"%}

{% block title %}Login{% endblock %}


{% block content %}

<h2><center>Login</center></h2>
<br><br><br>
{% with messages = get_flashed_messages() %}
    {% for msg in messages %}
       <center><p><error>{{msg}}</error></p></center>
    {% endfor %}
{% endwith %}

<center>
    <p>New User? Register<a href="{{url_for('account_bp.register')}}"> Here</a></p>
    <form action="{{url_for('account_bp.login')}}" method="post">
        {{ form.hidden_tag() }}

    <p>{{ form.username.label }}
        {{ form.username(size=30, placeholder='Username') }}</p>
    <p>{{ form.password.label }}
        {{ form.password( placeholder='Password') }}</p>
    <p>{{ form.remember.label}}
        {{ form.remember()}}</p>
    </p><error>{{error|default('')}}</error></p>
    <p>{{ form.submit() }}</p>
    </form>
</center>
{% endblock %}
