<!DOCTYPE html>
{% extends "base.html"%}
{% block title %}Math{% endblock %}
{% block content %}

<h1><center>Matrix</center></h1>

    <table style="width:100%" border="1">
        <tr>
            <td style="width:50%;">
                <center>
                    <h1>My Matrixes</h1>
                    {% for m in mats%}
                        <p>{{m}}</p>
                    {% endfor %}
                    
                </center>
            </td>
            <td>
                <center>
                    <h1>New Matrix</h1>
                    <form action ="#", method = "post">

                        {{ newMtxForm.hidden_tag() }}
                        <p>{{newMtxForm.name(placeholder ="Matrix Name") }}</p>
                        <p><error>{{mtxError}}</error></p>
                        <p>{{ newMtxForm.new_matrix(cols="25", rows="5", placeholder = "3|2|4\r\n6|3|9") }}</p>
                         <p>{{ newMtxForm.submit() }}</p>
                    </form>
                </center>
            </td>
        </tr>
        <tr>
            <td colspan="2">
            <center>
               
                <h1>Calculate</h1>
                <form action ="#", method = "post">

                    {{ calcForm.hidden_tag() }}
                    <p><error>{{calcError}}</error></p>
                    <p> {{calcForm.inpt(placeholder ="a+b") }}</p>

                    <p>{{ calcForm.submit() }}</p>
                </form>
           </center> 
        </td>
        </tr>
        <tr>
            <td colspan="2">
                <center>

                    <textarea disabled rows="5" cols ="50">

                            {% if outPut != None %}
                                {% for row in outPut %}
                                    {% for i in row%}{{i}} {% endfor %}
                                {% endfor %}
                            {% endif %}

                    </textarea>
                </center>
            </td>
        </tr>
    </table>
{% endblock %}