
{% extends "base.html"%}
{% block title %}Matrix{% endblock %}
{% block content %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/math.css')}}">

{% endblock %}
<div class="content">
    <h1><center>Matrix</center></h1>

    <table style="width:100%" border="1">
        <tr>
            <td style="width:50%;">
                <center>
                    <h2>My Matrices</h2>

                    {% for m in mats%}
                       <center>{{m}}</center>
                    {% endfor %}


                </center>
            </td>
            <td>
                <center>
                    <h2>Create New Matrix</h2>
                    <form action ="#", method = "post">

                        {{ newMtxForm.hidden_tag() }}
                        <p>{{newMtxForm.name(placeholder ="Matrix Name", autocomplete='off') }}</p>
                        <p><error>{{mtxError}}</error></p>
                        <p>{{ newMtxForm.new_matrix(cols="20", rows="4", placeholder = "3|2|4\r\n6|3|9") }}</p>
                         <p>{{ newMtxForm.submit() }}</p>
                    </form>
                </center>
            </td>
        </tr>
        <tr>
            <td colspan="2">
            <center>

                <h1>Calculate</h1>
                <form action ="#", method = "post" >

                    {{ calcForm.hidden_tag() }}
                    <p><error>{{calcError}}</error></p>
                    <p> {{calcForm.inpt(placeholder ="a+b", autocomplete='off') }}</p>

                    <p>{{ calcForm.submit() }}</p>
                </form>
           </center>
        </td>
        </tr>
        <tr>
            <td colspan="2">
                <center>

                    <textarea readonly rows="5" cols ="50" t>
                        {{outPut}}


                    </textarea>
                </center>
            </td>
        </tr>
    </table>
</div>
{% endblock %}