<!DOCTYPE html>
{% extends "base.html"%}

{% block title %}Register{% endblock %}


{% block content %}

<h2><center>Register</center></h2>
<br><br>
<center>
     <p>Already a member? Login<a href="{{url_for('account_bp.login')}}"> Here</a></p>
    <form action="{{url_for('account_bp.register')}}" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
    <p>{{ form.username.label }}
    {{form.username( placeholder='Username') }}</p>

    <p>{{ form.email.label }}
        {{ form.email(size=30, placeholder='Email') }}</p>
    <p>{{ form.password.label }}
        {{ form.password( placeholder='Password') }}</p>
    <p>{{ form.password2.label }}
        {{ form.password2( placeholder='Confirm Password') }}</p>

    <p><error>{{error|default('')}}</error></p>
    <p>{{ form.submit() }}</p>

    </form>
</center>
{% endblock %}