<!DOCTYPE html>
{% extends "base.html"%}

{% block title %}Register{% endblock %}


{% block content %}

<div class="content">

    <br><br>
    <center>


        <form action="{{url_for('account_bp.register')}}" method="post" enctype="multipart/form-data" class="form">

            <h1>Register</h1>

            <p>Already a member? Login<a href="{{url_for('account_bp.login')}}"> Here</a></p>
            {{ form.hidden_tag() }}
        <p>{{ form.username.label }}<br>
        {{form.username( placeholder='Username',autocomplete="off") }}</p>
        <p>{{ form.password.label }}<br>
            {{ form.password( placeholder='Password',autocomplete="off") }}</p>
        <p>{{ form.password2.label }}<br>
            {{ form.password2( placeholder='Confirm Password',autocomplete="off") }}</p>
        <p><error>{{error|default('')}}</error></p>
        <p>{{ form.submit() }}</p>

        </form>

    </center>

</div>
{% endblock %}