{% extends "base.html" %}

{% block content %}
<h1 class="title">
    <center>{{name| title}}'s Settings</center>
</h1>
<form method="GET" action="/logout">
    {{logoutForm.logout()}}

</form>
<center>
    {% if image != None %}
            <img src="data:;base64,{{ image }}" width="300" height="300"  alt="Image">
    {% else %}
        <img src="{{url_for('static', filename='profilePic.jpeg') }}" width="300" height="300" >
    {% endif %}

    <form method="Post", action="#" enctype="multipart/form-data">
      {{ settingsForm.hidden_tag() }}

        <p>{{ settingsForm.profile_photo() }}
           </p>
        {{ settingsForm.submit() }}
    </form>


</center>
{% endblock %}