{% extends "base.html" %}

{% block content %}
<h1 class="title">
    <center>{{user.username| title}}'s Settings</center>
</h1>
<form method="GET" action="/logout">
    {{logoutForm.logout()}}

</form>
<center>
    <img src="data:;base64,{{ getImage(user.image) }}" width="300" height="300"  alt="Photo not Av">


    <form method="Post", action="#" enctype="multipart/form-data">

      {{ settingsForm.hidden_tag() }}

        <p>{{ settingsForm.profile_photo.label }}:
            {{ settingsForm.profile_photo() }}
           </p>
        <p>{{ settingsForm.bio.label }}:
            {{ settingsForm.bio(size = 50, placeholder='Say something about yourself') }}
           </p>
        <p>{{ settingsForm.gender.label }}:
            {{ settingsForm.gender() }}
           </p>
        {{ settingsForm.submit() }}
    </form>


    <form method="GET" action="/delete">
    {{deleteForm.delete()}}

    </form>
</center>
{% endblock %}