<!DOCTYPE html>
{% extends "base.html"%}
{% block title %}Math{% endblock %}
{% block content %}

<h2><center>{{math}}</center></h2>
<center>

<form action ="/math/{{math.lower()}}", method = "post">
    <p>{{inptTxt}}</p>

    <p>{{extra}}<input type="text" name = "input"></p>
    <p><input type="submit" value = "Calculate"></p>
</form></center>
{% with messages = get_flashed_messages() %}
    {% for msg in messages %}
        <p><center>{{msg}}</center></p>
    {% endfor %}
{% endwith %}

   <center><img src= '{{ plt }}' alt="Chart" height="500" width="500"/></center>

<h3>Avaliable Functions</h3>
<p1>
	Random Number: rand(x,y)
	<br>Sqare Root: sqrt(x)
	<br>Absolute Value: |x|
	<br>Sin: sin(x)
	<br>Cos: cos(x)
	<br>Tan: tan(x)



</p1>
{% endblock %}