<!DOCTYPE html>
{% extends "base.html"%}
<head>
{% block title %}Home page{% endblock %}
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
</head>
{% block content %}

<h2><center>Home Page</center></h2>
{% with messages = get_flashed_messages() %}
    {% for msg in messages %}
        <p>{{msg}}<p>
    {% endfor %}
{% endwith %}
{%if login == True%}
    <form action ="#", method = "post">
    <p><input type="submit" value = "Logout"></p>
    </form></center>
{% endif %}
{% endblock %}
