<!DOCTYPE html>
{% extends "base.html"%}
{% block title %}Math{% endblock %}
{% block content %}

<h1><center>Matrix</center></h1>

    <table style="width:100%" border="1">
        <tr>
            <td>
                <center>
                    <h1>My Matrixes</h1>
                    {% for i in mats %}
                        <p>{{i}}</p>
                    {% endfor %}
                </center>
             </td>
            <td>
                <center>
                    <h1>New Matrix</h1>
                    <form action ="#", method = "post", name = 'pop'>
                        <label for="name">Enter name:</label><br>
                        <input type="text" id='name' name = "input">
                        <br>

                        <label for="row">New Row</label><br>
                        <input type="text" id='row' name = "input">
                        <input type="submit" value = "New Row"></p><br>
                    
                        
                        <input type="submit" value = "Complete"></p>
                    </form>
                </center>
            </td>
            


        </tr>




    </table>


{% with messages = get_flashed_messages() %}
    {% for msg in messages %}
        <center>{{msg}}</center>
    {% endfor %}
{% endwith %}

{% endblock %}